---
import siteData from "@config/siteData.json";
import logo from "@images/logos/blanc.png";
import { Image } from "astro:assets";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
	<Image
		src={logo}
		alt="Cosmic Themes logo"
		loading="eager"
		width={150}
		height={100}
		class="h-30 w-auto"
	/>
	<!-- <div class="font-heading text-xl uppercase">{siteData.name}</div> -->
</a>
